# Ignora tutti i file temporanei
*.tmp

# Ignora la cartella node_modules
node_modules/

# Ignora file di configurazione locali
.env
settings_local.py

# Ignora tutto nella cartella log
log/

# Ignora tutti i file .log
*.log

info
.vscode/extensions.json


# Ignora qualsiasi cartella che inizia con "venv" ovunque nel progetto
**/venv*/

# Ignora esplicitamente questa cartella
backend/venv_win/

# Cache di Python
__pycache__/
**/__pycache__/
